@font-face {
    font-family: 'FlappyBirdy';
    src: url('./font/FlappyBirdy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Syndra-SemiBold';
    src: url('font/Syndra-SemiBold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


h1{
    text-align: center;
    font-family: 'Flappybirdy', sans-serif; 
    font-size: 160px;
    letter-spacing: 8px;
    background: linear-gradient(rgb(11, 44, 19),rgb(25, 153, 25));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute; bottom: 53%;
    position: absolute; left: 13.5%;
}
h2{
    font-family: 'Syndra-SemiBold', sans-serif;
    font-size: 50px;
    letter-spacing: 4px;
    background: linear-gradient(rgb(0, 0, 0),rgb(6, 7, 2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    
}

body{
    background-image: url("image/backkkkk.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: red;
}

.azer{
    position: absolute;
    top: 0%;
    left: 4px;
}
.wxcv{
    position: absolute;
    top: 0%;
    right: 0px;
}

.qsdf{
    
    
    position: absolute; 
    top: 2%;
    right: 13%;
    width: 1760px;
    height: 285px;
}


.aa{
    
    
    padding-left: 20%;
    padding-top: 20%;
    
}
    


.aa h2{
    margin: 0%;
}

.aa p {
    font-family: 'Syndra-SemiBold';
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
    
}

.aqw{
    position: absolute; right: 78%; bottom: 5%;
    cursor: pointer;

}


.azaz{
    position: absolute; top: 38%; right: 2%;
    width: 2000px;
    height: 500px;
    z-index: -1;
}

.h2{
    font-family: 'Syndra-SemiBold', sans-serif;
    font-size: 50px;
    letter-spacing: 4px;
    background: linear-gradient(rgb(0, 0, 0),rgb(6, 7, 2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0%;
    padding-left: 18%;
    padding-top: 9%;
    
}

.ph2{
    font-family: 'Syndra-SemiBold', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    background: linear-gradient(rgb(0, 0, 0),rgb(6, 7, 2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0%;
    padding-left: 18%;
    padding-top: 1%;
}

h5{
  font-family: 'Syndra-SemiBold', sans-serif;
    font-size: 50px;
    letter-spacing: 4px;
    background: linear-gradient(rgb(0, 0, 0),rgb(6, 7, 2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0%;
    padding-left: 30%;
    padding-top: 9%;
}


ol{
  font-family: 'Syndra-SemiBold', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    background: linear-gradient(rgb(0, 0, 0),rgb(6, 7, 2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0%;
    
    padding-top: 10%;
}


.listing1{
  padding-left: 30%;
}


.listing2{
  padding-top: 7%;
  padding-left: 2%;
  margin-right: 40%;
  
}
.listing3{
  padding-top: 5%;
  padding-left: 30%;
  
}

.listing4{
  padding-top: 10%;
  padding-left: 2%;
  margin-right: 30%;
}

.tuyau1{
  position: absolute;
  top: 188%;
  right: 44%;
  width: 400px;
  height: 2500px;
  transform: rotate(270deg);
  z-index: -1;
}

.tuyau2{
  position: absolute;
  top: 230%;
  right: 44%;
  width: 400px;
  height: 2500px;
  transform: rotate(90deg);
  z-index: -1;
}

.tuyau3{
   position: absolute;
  top: 276%;
  right: 42%;
  width: 450px;
  height: 2500px;
  transform: rotate(270deg);
  z-index: -1;
}

.tuyau4{
  position: absolute;
  top: 350%;
  right: 28%;
  width: 1000px;
  height: 2450px;
  transform: rotate(90deg);
  z-index: -1;
  
}
.listing5 h6 {
  font-family: 'Syndra-SemiBold', sans-serif;
    font-size: 30px;
    letter-spacing: 4px;
    background: linear-gradient(rgb(0, 0, 0),rgb(6, 7, 2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0%;
    padding-left: 30%;
    padding-top: 15%;
    position: absolute;
    top: 490%;
  
}

.listing5 p{
  font-family: 'Syndra-SemiBold', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    background: linear-gradient(rgb(0, 0, 0),rgb(6, 7, 2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0%;
    padding-left: 30%;
    padding-top: 1%;
    position: absolute;
    top: 525%;
}

.tuyau5{
  position: absolute;
  top: 440%;
  right: 30%;
  width: 1000px;
  height: 2550px;
  transform: rotate(270deg);
  z-index: -1;
}

.bulle6{
   position: absolute;
    top: 595%;
    left: 12%;
    width: 2200px;
    height: 820px;
}
.fb6{
   position: absolute;
    top: 633%;
    left: -1%;
    cursor: pointer;

}


.last{
  font-family: 'Syndra-SemiBold', sans-serif;
    font-size: 50px;
    letter-spacing: 4px;
    background: linear-gradient(rgb(0, 0, 0),rgb(6, 7, 2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0%;
    padding-left: 30%;
    padding-top: 9%;
}
  

.lastttext{
 font-family: 'Syndra-SemiBold';
    font-size: 30px;
    
    letter-spacing: 2px;
    margin-right: 10%;
    padding-left: 25%;
}


.derniertext{
  position: absolute;
  top: 597.5%;
}


.derniertext{
  opacity: 0;
    visibility: hidden;
    transform: translateX(-50px);
    transition: opacity 1s; ease, transform: 1s; ease;
    

}

.megabulle6:hover .derniertext{
  opacity: 1;
visibility: visible;
transform: translateX(0);

}

.aa{
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50px);
    transition: opacity 1s; ease, transform: 1s; ease;

}
.megabulle:hover .aa{
opacity: 1;
visibility: visible;
transform: translateX(0);

}

.bb{
  opacity: 0;
    visibility: hidden;
    transform: translateX(-50px);
    transition: opacity 1s; ease, transform: 1s; ease;
}

.megabulle2:hover .bb{
opacity: 1;
visibility: visible;
transform: translateX(0);
}

.h3p{
  opacity: 0;
    visibility: hidden;
    transform: translateX(-50px);
    transition: opacity 1s; ease, transform: 1s; ease;
}

.megabulle3:hover .h3p{
  opacity: 1;
visibility: visible;
transform: translateX(0);
}


.h4p{
  opacity: 0;
    visibility: hidden;
    transform: translateX(-50px);
    transition: opacity 1s; ease, transform: 1s; ease;
}

.megabulle4:hover .h4p{
  opacity: 1;
visibility: visible;
transform: translateX(0);
}



.flappyr{
    position: absolute; left: 80%; top: 105%;
    cursor: pointer;

}

.buller{
    position: absolute; top: 80%; right: 10%;
    width: 2000px;
    height: 650px;
    z-index: -1;
}


.h3p h3 {
    
    margin: 0%;
    font-family: 'Syndra-SemiBold', sans-serif;
    font-size: 50px;
    letter-spacing: 4px;
    background: linear-gradient(rgb(0, 0, 0),rgb(6, 7, 2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0%;
    padding-left: 15%;
    padding-top: 16%;
}
.h3p p {
font-family: 'Syndra-SemiBold';
    font-size: 30px;
    margin-top: 20px;
    padding-left: 15%;
    letter-spacing: 2px;

}

.bulleh3{
    position: absolute; top: 140%; left: 8%;
    width: 2300px;
    height: 820px;
    z-index: -1;
}


.flappyh3{
    
    position: absolute; right: 82%; top: 178%;
    cursor: pointer;

}

.h4{
    font-family: 'Syndra-SemiBold', sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
    background: linear-gradient(rgb(0, 0, 0),rgb(6, 7, 2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0%;
    padding-left: 10%;
    padding-top: 14%;
    
}
.p4{
    font-family: 'Syndra-SemiBold';
    font-size: 30px;
    margin-top: 20px;
    padding-left: 10%;
    letter-spacing: 2px;

}
.bullep4{
    position: absolute; top: 210%; right: 5%;
    width: 2350px;
    height: 550px;
    z-index: -1;
}
.flappyh4{
    position: absolute; left: 85%; top: 230%;
}

/* Animation property */
.flappyh4{
  animation: wiggle 2s linear infinite;
}

.derniertitre{
  font-family: 'Syndra-SemiBold', sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
    background: linear-gradient(rgb(0, 0, 0),rgb(6, 7, 2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0%;
    padding-left: 10%;
    padding-top: 5%;
    position: relative;
    right: 5%;
    top: -1000px;
    
    
    
    
}

.dernierpp{
  font-family: 'Syndra-SemiBold';
    font-size: 30px;
    margin-top: 20px;
    padding-left: 10%;
    letter-spacing: 2px;
    position: relative; 
    right: 5%;
    top: -1000px;

}

*{
  box-sizing: border-box;
}

.listing1{
  margin-bottom: 150px;
  
}

.listing2{
  margin-bottom: 150px;
}

.listing3{
  margin-bottom: 150px;
}

.listing4{
  margin-bottom: 150%;
}

.gifre{
  position: absolute;
  top: 281.5%;
  left: 57px;
  width: 500px;
  height: 300px;
}

.clef{
  position: absolute;
  top: 324%;
  width: 300px;
  height: 300px;
  right: 13%;
}

.go{
  position: absolute;
  top: 532%;
  width: 550px;
  height: 300px;
  left: 55px;
}

.frustration{
  position: absolute;
  top: 367.2%;
  width: 515px;
  height: 348px;
 left: 3%;
}
.dopa{
  position: absolute;
  top: 422%;
  left: 75%;
  width: 500px;
  height: 280px;
}
.son{
  position: absolute;
  top: 445%;
  width: 300;
  height: 518px;
  right: 4.1%;
  cursor: pointer;
}





.flappyh4{
  animation: wiggle 2s linear infinite;
}
/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

/* Animation property */
.flappyh3{
  animation: wiggle 2s linear infinite;
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

/* Animation property */
.flappyr{
  animation: wiggle 2s linear infinite;
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}
/* Animation property */
.aqw{
  animation: wiggle 2s linear infinite;
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}


.fb6{
  animation: wiggle 2s linear infinite;
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}