@font-face {
    font-family: 'FlappyBirdy';
    src: url('./font/FlappyBirdy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Syndra-SemiBold';
    src: url('font/Syndra-SemiBold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: column;
}

.banner {
    height: 300px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.banner-gif {
    height: 400px;
    object-fit: cover;
    object-position: center;
    flex: 1;
}

.square-flappy {
    height: 100%;
    background-color: black;
}

h1 {
    padding: 50px 0;
    margin: 0;
    font-family: 'Flappybirdy', sans-serif;
    font-size: 8rem;
    letter-spacing: 8px;
    background: linear-gradient(rgb(11, 44, 19),rgb(25, 153, 25));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    white-space: nowrap;
}

main {
    display: flex;
    flex-direction: column;
}

.megabulle {
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    padding-top: 3%;


}

.megabulle .bulle_blanche {
    height: 600px;
    margin: 0 0 0 0;
    padding: 0 0 0 5%;
}

.megabulle .bulle_texte {
 position: absolute;
 padding-left: 12%;
 }

.megabulle h2 {
    font-family: 'Syndra-SemiBold', sans-serif;
    font-size: 50px;
    letter-spacing: 4px;
    background: linear-gradient(rgb(0, 0, 0),rgb(6, 7, 2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.megabulle p {
    font-family: 'Syndra-SemiBold', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    background: linear-gradient(rgb(0, 0, 0),rgb(6, 7, 2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.megabulle .flappy {
    position: absolute;
    height: 50%;
    bottom: -45px;
}


.megabulle2 .buller {
    background-color: rgb(5, 5, 77);
    height: 650px;
    margin: 0 0 0 0;
    padding: 0 6.5% 0 0;
}

.megabulle2 {
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;
}

.megabulle2 .h2 {
    font-family: 'Syndra-SemiBold', sans-serif;
    font-size: 50px;
    letter-spacing: 4px;
    background: linear-gradient(rgb(0, 0, 0),rgb(6, 7, 2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.megabulle2 .ph2 {
    font-family: 'Syndra-SemiBold', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    background: linear-gradient(rgb(0, 0, 0),rgb(6, 7, 2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.megabulle2 .bb {
    position: absolute;
    padding-left: 12.5%
}

.megabulle2 .flappyr {
    position: absolute;
    height: 50%;
    bottom: -45px;
    right: 0;
}

.megabulle3 {
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;
}

.megabulle3 .bulleh3 {
    background-color: rgb(61, 61, 134);
    height: 880px;
    margin: 0;
    padding: 0 0 0 5%;
}

.megabulle3 h3 {
    font-family: 'Syndra-SemiBold', sans-serif;
    font-size: 50px;
    letter-spacing: 4px;
    background: linear-gradient(rgb(0, 0, 0),rgb(6, 7, 2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.megabulle3 p {
    font-family: 'Syndra-SemiBold', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    background: linear-gradient(rgb(0, 0, 0),rgb(6, 7, 2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.megabulle3 .h3p {
    position: absolute;
    padding-left: 12%;

}
.megabulle3 .flappyh3 {
    position: absolute;
    height: 37%;
    bottom: 0;
}
.megabulle4 .h4 {
    font-family: 'Syndra-SemiBold', sans-serif;
    font-size: 50px;
    letter-spacing: 4px;
    background: linear-gradient(rgb(0, 0, 0),rgb(6, 7, 2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.megabulle4 .p4 {
    font-family: 'Syndra-SemiBold', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    background: linear-gradient(rgb(0, 0, 0),rgb(6, 7, 2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.megabulle4 {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

}
.megabulle4 .bullep4 {
    position: relative;
    height: 720px;
    margin: 0 0 0 0;
    padding: 0 5% 0 0;
}

.megabulle4 .h4p {
    position: absolute;
    padding-left: 13%;
}

.megabulle4 .flappyh4 {
    height: 45%;
    position: absolute;
    right: 0;
    bottom: -30px;
}

h5 {
    font-family: 'Syndra-SemiBold', sans-serif;
    font-size: 50px;
    letter-spacing: 4px;
    background: linear-gradient(rgb(0, 0, 0),rgb(6, 7, 2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: 10%;
}

.tous-les-tuyaux {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.tuyau {
    position: relative;
    height: 678px;
    width: 100%;
    display: flex;
}

.tuyau-left {
    justify-content: left;
    align-items: center;
}

.listing {
    height: 100%;
    width: 1500px;
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.listing div {
    height: 100%;
    padding: 55px 90px 55px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.listing p {
    font-size: 1.75rem;
}

.listing h6 {
    margin: 0;
    font-size: 2.8rem;
}

.tuyau-left img {
    position: absolute;
    height: 100%;
}

.tuyau-right {
    justify-content: right;
    align-items: center;
}

.tuyau-right img{
    position: absolute;
    height: 110%;
    rotate: 180deg;
}
